<mat-dialog-content>

  <h2 mat-dialog-title>{{title}}</h2>


  <form #qualificadorForm="ngForm" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input uppercaserequired matInput [(ngModel)]="fornecedor.idFornecedor" name="idFornecedor" [disabled]="true">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Razão Social</mat-label>
        <input uppercase required [(ngModel)]="fornecedor.razaoSocial" name="razaoSocial" matInput maxlength="144">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input uppercase required [textMask]="{mask: maskCnpj, guide: false}" [(ngModel)]="fornecedor.cnpj" name="cnpj" matInput
          maxlength="144">
      </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Celular</mat-label>
        <input uppercase required [textMask]="{mask: maskCelular, guide: false}" [(ngModel)]="fornecedor.celular" matInput
          name="celular">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Telefone</mat-label>
        <input uppercase required maxlength="50" [textMask]="{mask: maskTelefone, guide:false}" matInput name="telefone"
          [(ngModel)]="fornecedor.telefone">
      </mat-form-field>

    </div>


    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>E-mail</mat-label>
        <input uppercase [(ngModel)]="fornecedor.email" email="true" name="email" type="email" matInput maxlength="144">
      </mat-form-field>

    </div>



    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Endereço</mat-label>
        <input uppercase required [(ngModel)]="fornecedor.endereco" name="endereco" matInput maxlength="144">
      </mat-form-field>

    </div>


    <div fxLayout="row" fxLayoutGap="30px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Bairro</mat-label>
        <input uppercase required matInput [(ngModel)]="fornecedor.bairro" maxlength="144" name="bairro">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Número</mat-label>
        <input uppercase required matInput [textMask]="{mask: masks.getNumbersOnlyMask(5), guide: false}"
          [(ngModel)]="fornecedor.numero" name="numero">
      </mat-form-field>
    </div>

    <div fxLayout="row">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Cidade</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoCidade" #inputFilterCidade
          [(ngModel)]="fornecedor.cidade" name="cidade" (ngModelChange)="onListFranquias(inputFilterCidade.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnCidade" #autoCidade="matAutocomplete"
        (optionSelected)="fornecedor.cidade = $event.option.value; onListCidades();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let cidade of cidades" [value]="cidade">{{cidade?.cidade}}</mat-option>
      </mat-autocomplete>



      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>Estado</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoEstado" #inputFilterEstado
          [(ngModel)]="fornecedor.estado" name="estado" (ngModelChange)="onListEstados(inputFilterEstado.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnEstado" #autoEstado="matAutocomplete"
        (optionSelected)="fornecedor.estado = $event.option.value; onListEstados();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let estado of estados" [value]="estado">{{estado?.estado}}</mat-option>
      </mat-autocomplete>



      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>País</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoPais" #inputFilter [(ngModel)]="fornecedor.pais" name="pais"
          (ngModelChange)="onListPaises(inputFilter.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnPais" #autoPais="matAutocomplete"
        (optionSelected)="fornecedor.pais = $event.option.value; onListPaises();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let pais of paises" [value]="pais">{{pais?.pais}}</mat-option>
      </mat-autocomplete>
    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>CEP</mat-label>
        <input uppercase required [textMask]="{mask: masks.cep, guide: false}" [(ngModel)]="fornecedor.cep" name="cep" matInput
          maxlength="144">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Inscrição estadual</mat-label>
        <input uppercase [(ngModel)]="fornecedor.inscricaoEstadual" name="inscricaoEstadual" matInput maxlength="144">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>Condição de pagamento</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoCondicaoPagamento" #inputFilter [(ngModel)]="fornecedor.condicaoPagamento" name="condicaoPagamento"
          (ngModelChange)="onListCondicoesPagamento(inputFilter.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnCondicaoPagamento" #autoCondicaoPagamento="matAutocomplete"
        (optionSelected)="fornecedor.condicaoPagamento = $event.option.value; onListCondicoesPagamento();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let condicaoPagamento of condicoesPagamento" [value]="condicaoPagamento">{{condicaoPagamento?.codigo}}</mat-option>
      </mat-autocomplete>

    </div>


  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
    color="primary">
    SALVAR
  </button>
  <button mat-dialog-close mat-raised-button class="white-btn
  push-left-md bgc-grey-800">
    CANCELAR
  </button>
</mat-dialog-actions>