<mat-dialog-content>

  <h2 mat-dialog-title>{{title}}</h2>


  <form #qualificadorForm="ngForm" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input uppercase matInput [(ngModel)]="fornecedor.codigo" name="codigo" [disabled]="true">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Razão Social</mat-label>
        <input uppercase required [(ngModel)]="fornecedor.razaoSocial" name="razaoSocial" matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input uppercase required [textMask]="{mask: maskCnpj, guide: false}" [(ngModel)]="fornecedor.cnpj" name="cnpj"
          matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Celular</mat-label>
        <input uppercase required [textMask]="{mask: maskCelular, guide: false}" [(ngModel)]="fornecedor.celular"
          matInput name="celular" [disabled]="isFranquiado">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Telefone</mat-label>
        <input uppercase  maxlength="50" [textMask]="{mask: maskTelefone, guide:false}" matInput name="telefone"
          [(ngModel)]="fornecedor.telefone" [disabled]="isFranquiado">
      </mat-form-field>

    </div>


    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>E-mail</mat-label>
        <input uppercase [(ngModel)]="fornecedor.email" email="true" name="email" type="email" matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>

    </div>



    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Endereço</mat-label>
        <input uppercase required [(ngModel)]="fornecedor.endereco" name="endereco" matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>

    </div>


    <div fxLayout="row" fxLayoutGap="30px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Número</mat-label>
        <input uppercase matInput [textMask]="{mask: masks.getNumbersOnlyMask(5), guide: false}"
          [(ngModel)]="fornecedor.numero" name="numero" [disabled]="isFranquiado">
      </mat-form-field>
      
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Bairro</mat-label>
        <input uppercase required matInput [(ngModel)]="fornecedor.bairro" maxlength="144" name="bairro" [disabled]="isFranquiado">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center">


      <div *ngIf="fornecedor.cidade" fxLayoutAlign=" start" fxLayout="column">
        <label style="margin-bottom: 5px;font-weight: bold;">País</label>
        <label>{{fornecedor?.cidade?.estado?.pais?.pais}}</label>
      </div>

      <div *ngIf="fornecedor.cidade" fxLayoutAlign=" start" fxLayout="column" class="push-left-md push-right-md">
        <label style="margin-bottom: 5px;font-weight: bold;">Estado</label>
        <label>{{fornecedor?.cidade?.estado?.estado}}</label>
      </div>

      <auto-complete-with-redirect
          fxFlex
          title="Cidade"
          link="cidade"
          key="codigo"
          displayKey="cidade"
          [displayId]="true"
          [isDetail]="isFranquiado"
          [list]="{values: cidades}"
          [classes]="required-class-cidade"
          [itemSelected]="{selected: fornecedor.cidade}"
          (onFilterChange)="onListCidades($event)"
          (onSelect)="fornecedor.cidade = $event"
          (onDelete)="fornecedor.cidade = null"
      >
      </auto-complete-with-redirect>

    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>CEP</mat-label>
        <input uppercase required [textMask]="{mask: masks.cep, guide: false}" [(ngModel)]="fornecedor.cep" name="cep"
          matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Inscrição estadual</mat-label>
        <input uppercase [(ngModel)]="fornecedor.inscricaoEstadual" name="inscricaoEstadual" matInput maxlength="144" [disabled]="isFranquiado">
      </mat-form-field>

      <auto-complete-with-redirect
         *ngIf="isFranquiado"
          [isNotRequired]="true" 
          fxFlex
          title="Condição de pagamento"
          link="condicao-pagamento"
          key="codigo"
          [displayId]="true"
          displayKey="condicaoPagamento"
          [displayId]="false"
          [list]="{values: condicoesPagamento}"
          [itemSelected]="{selected: fornecedor.condicaoPagamento}"
          (onFilterChange)="onListCondicoesPagamento($event)"
          (onSelect)="fornecedor.condicaoPagamento = $event"
          (onDelete)="fornecedor.condicaoPagamento = null"
      >
      </auto-complete-with-redirect>

    </div>


  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between end">

  <div fxLayout="column">
    <label> <label style="font-weight: bold">Data de criação:</label>
      {{ fornecedor.created ? (fornecedor.created | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
    <label class="push-top-sm "><label style="font-weight: bold">Data de atualização :</label>
      {{ fornecedor.updated ? (fornecedor.updated | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
  </div>

  <div>
    <button (click)="onSubmit(qualificadorForm)" mat-raised-button class="white-btn"
      color="primary">
      SALVAR
    </button>
    <button mat-dialog-close mat-raised-button class="white-btn
  push-left-md bgc-grey-800">
      CANCELAR
    </button>
  </div>
</mat-dialog-actions>