<mat-toolbar class="toolbar-default">
	<mat-toolbar-row fxLayoutGap="30px">
		<mat-form-field fxFlex="20" appearance="outline">
			<mat-label>Nome</mat-label>
			<input matInput placeholder="Pesquisar por nome" maxlength="144" [(ngModel)]="filters.nome">
		</mat-form-field>

		<mat-form-field fxFlex="20" appearance="outline">
			<mat-label>CNPJ</mat-label>
			<input matInput [textMask]="{mask: maskCnpj, guide: false}" placeholder="Pesquisar por cnpj" maxlength="144" [(ngModel)]="filters.cnpj">
		</mat-form-field>

		<mat-form-field fxFlex="20" appearance="outline">
			<mat-label>Cidade</mat-label>
			<input matInput placeholder="Pesquisar por cidade" maxlength="144" [(ngModel)]="filters.cidade">
		</mat-form-field>

		<div fxFlex></div>

		<button color="primary" class="white-btn" (click)="openForm()" mat-raised-button>ADICIONAR
			NOVA FRANQUIA</button>
	</mat-toolbar-row>

	<mat-toolbar-row fxLayoutGap="30px">
		<button color="primary" class="white-btn" (click)="onListFranquias()" mat-raised-button
			type="submit">CONSULTAR</button>
		<button color="accent" class="white-btn" (click)="clearFilters()" mat-raised-button>LIMPAR FILTROS</button>
	</mat-toolbar-row>
</mat-toolbar>


<mat-card>

	<td-data-table *ngIf="pageRequest?.content?.length > 0" #dataTable [data]="pageRequest.content"
		[columns]="tableColumns" [clickable]="true" >

		<ng-template tdDataTableTemplate="nome" let-franquia="row">
			<span class="text-truncate">
				{{ franquia?.nome}}
			</span>
		</ng-template>

		<ng-template tdDataTableTemplate="cidade" let-franquia="row">
			<span class="text-truncate">
				{{ franquia?.cidade}}
			</span>
		</ng-template>

		<ng-template tdDataTableTemplate="cnpj" let-franquia="row">
			<span class="text-truncate">
				{{ franquia?.cnpj}}
			</span>
		</ng-template>

		<ng-template fxLayoutAlign="end" tdDataTableTemplate="situacao" let-franquia="row">
			<mat-icon *ngIf="franquia?.situacao" class="tc-green-700" matTooltip="Ativado">check_circle</mat-icon>
			<mat-icon *ngIf="!franquia?.situacao" matTooltip="Desativado" class="tc-red-700">block</mat-icon>
		</ng-template>

		<ng-template fxLayoutAlign="end" tdDataTableTemplate="opcoes" let-franquia="row">

			<button matTooltip="Editar franquia" stopPropagation (click)="$event.stopPropagation(); openForm(franquia)"
				mat-icon-button>
				<mat-icon class="tc-grey-700 edit-button-hover">edit</mat-icon>
			</button>

			<button *ngIf="!franquia.situacao" matTooltip="Ativar franquia"
				(click)="$event.stopPropagation(); atualizarSituacaoFranquia(franquia)" stopPropagation mat-icon-button>
				<mat-icon class="tc-grey-700 active-button-hover">check_circle_outline</mat-icon>
			</button>

			<button *ngIf="franquia.situacao" matTooltip="Desativar franquia"
				(click)="$event.stopPropagation(); atualizarSituacaoFranquia(franquia)" stopPropagation mat-icon-button>
				<mat-icon class="tc-grey-700 delete-button-hover">block</mat-icon>
			</button>

		</ng-template>

	</td-data-table>

	<td-paging-bar #pagingBar [pageSize]="pageRequest.pageable.size" [total]="pageRequest.totalElements"
		(change)="page($event)" *ngIf="pageRequest.content != null && pageRequest.content.length">
		<span td-paging-bar-label hide-xs>Registros por página:</span>
		<mat-select [style.width.px]="50" [(ngModel)]="pageRequest.pageable.size">
			<mat-option *ngFor="let size of [10,50,100]" [value]="size">
				{{size}}
			</mat-option>
		</mat-select>
		{{pagingBar.range}} <span hide-xs>de {{pagingBar.total}}</span>
	</td-paging-bar>

	<div *ngIf="pageRequest?.content?.length == 0" class="pad-md" fxLayoutAlign="center ">
		<label>Nenhum registro encontrado.</label>
	</div>
</mat-card>