<mat-dialog-content>

  <h2 mat-dialog-title>{{title}}</h2>


  <form #qualificadorForm="ngForm" fxLayout="column">


    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input required matInput [(ngModel)]="estado.idEstado" name="idEstado" [disabled]="true">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>UF</mat-label>
        <input uppercase [(ngModel)]="estado.uf" name="uf" matInput maxlength="2">
      </mat-form-field>



    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Estado</mat-label>
        <input uppercase required [(ngModel)]="estado.estado" name="estado" matInput maxlength="144">
      </mat-form-field>

    </div>


    <div>

      <!-- SELECT-->

    </div>





  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
    color="primary">
    SALVAR
  </button>
  <button mat-dialog-close mat-raised-button class="white-btn
  push-left-md bgc-grey-800">
    CANCELAR
  </button>
</mat-dialog-actions>