<mat-dialog-content>

  <h2 mat-dialog-title>{{title}}</h2>


  <form #qualificadorForm="ngForm" fxLayout="column">


    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input required matInput [(ngModel)]="estado.idEstado" name="idEstado" [disabled]="true">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>UF</mat-label>
        <input required uppercase [(ngModel)]="estado.uf" name="uf" matInput maxlength="2">
      </mat-form-field>



    </div>

    <div fxLayout="row">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Estado</mat-label>
        <input uppercase required [(ngModel)]="estado.estado" name="estado" matInput maxlength="144">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>País</mat-label>
        <input required type="text" matInput [matAutocomplete]="autoPais" #inputFilter [(ngModel)]="estado.pais"
          name="pais" (ngModelChange)="onListPaises(inputFilter.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnPais" #autoPais="matAutocomplete"
        (optionSelected)="estado.pais = $event.option.value; onListPaises();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let pais of paises" [value]="pais">{{pais?.pais}}</mat-option>
      </mat-autocomplete>

    </div>


    <div>

      <!-- SELECT-->

    </div>





  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between end">

    <div fxLayout="column">
        <label> <label style="font-weight: bold">Data de criação:</label>
            {{ estado.created ? (estado.created | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
        <label class="push-top-sm "><label style="font-weight: bold">Data de atualização :</label>
            {{ estado.updated ? (estado.updated | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
    </div>

    <div>
  <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
    color="primary">
    SALVAR
  </button>
  <button mat-dialog-close mat-raised-button class="white-btn
  push-left-md bgc-grey-800">
    CANCELAR
  </button>
    </div>
</mat-dialog-actions>