<mat-toolbar class="toolbar-default">
  <mat-toolbar-row fxLayoutGap="30px">
    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Pesquisar por nome">
    </mat-form-field>


    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>Situação</mat-label>
      <mat-select placeholder="Pesquisar por situação">
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option> -->
      </mat-select>
    </mat-form-field>


    <mat-form-field fxFlex="20" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Pesquisar por E-mail">
    </mat-form-field>

    <div fxFlex></div>

    <button color="primary" class="white-btn" (click)="openForm()"
      mat-raised-button>ADICIONAR
      NOVO USUÁRIO</button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card fxLayoutAlign="center center">
  <table *ngIf="usuarios.length> 0" td-data-table>
    <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column
          [name]="nome"
          [sortable]="false"
          [sortOrder]="'ASC'"
          [active]="false">
          <span class="tc-teal-500">NOME</span>
        </th>
        <th td-data-table-column
          [name]="email"
          [sortable]="false"
          [sortOrder]="'ASC'"
          [active]="false">
          <span class="tc-teal-500">E-MAIL</span>
        </th>
        <th td-data-table-column
          [name]="situacao"
          [sortable]="false"
          [sortOrder]="'ASC'"
          [active]="false">
          <span class="tc-teal-500">SITUAÇÃO</span>
        </th>

        <th td-data-table-column
          [name]="opcoes"
          [sortable]="false"
          [sortOrder]="'ASC'"
          [active]="false">
          <span class="tc-teal-500">OPÇÕES</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr td-data-table-row *ngFor="let usuario of usuarios">
        <td td-data-table-cell>
          {{usuario.nome}}
        </td>

        <td td-data-table-cell>
          {{usuario.email}}
        </td>

        <td td-data-table-cell>
          {{usuario.situacao}}
        </td>

        <td td-data-table-cell>
          <div fxLayout="row">
            <button matTooltip="Editar usuário"
              stopPropagation
              (click)="openForm(usuario)"
              mat-icon-button>
              <mat-icon class="tc-grey-700 edit-button-hover">edit</mat-icon>
            </button>
            <button *ngIf="usuario.situacao == 'Desativado'" matTooltip="Ativar usuário"
            (click)="atualizarSituacaoUsuario(usuario, 'Ativo')"
              stopPropagation mat-icon-button>
              <mat-icon class="tc-grey-700 active-button-hover">check_circle_outline</mat-icon>
            </button>
            <button *ngIf="usuario.situacao == 'Ativo'" matTooltip="Desativar usuário"
            (click)="atualizarSituacaoUsuario(usuario, 'Desativado')"
              stopPropagation mat-icon-button>
              <mat-icon class="tc-grey-700 delete-button-hover">block</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="usuarios.length == 0" class="pad-md">Nenhum registro encontrado.</span>
</mat-card>