<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content>
    <form #qualificadorForm="ngForm" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="30px">

            <mat-form-field fxFlex appearance="outline">
                <mat-label>Código</mat-label>
                <input [(ngModel)]="grupoProduto.codigo" name="codigo" matInput maxlength="50"
                    placeholder="Digite seu código">
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
                <mat-label>Nome</mat-label>
                <input required [(ngModel)]="grupoProduto.nome" name="nome" matInput maxlength="144"
                    placeholder="Digite o nome do grupo">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign=" center">

            <mat-form-field fxFlex appearance="outline">
                <mat-label>Franquia</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" #inputFilter [(ngModel)]="grupoProduto.franquia" name="franquia"
                    (ngModelChange)="onListFranquias(inputFilter.value);">
            </mat-form-field>

            <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="grupoProduto.franquia = $event.option.value; onListFranquias();" >
                <mat-option [value]="null">Nenhum</mat-option>
                <mat-option *ngFor="let franquia of franquias" [value]="franquia">{{franquia.nome}}</mat-option>
            </mat-autocomplete>

            <mat-checkbox fxFlex [(ngModel)]="grupoProduto.exigeAno" name="exigeAno">Exige ano ?</mat-checkbox>


        </div>


        <div fxFlex style="background-color: #b71c1c; color: white; font-weight: bold;border-radius: 30px;"
            fxLayoutAlign="space-between center">
            <label *ngIf="!fotoImage && !grupoProduto.anexoUuid" style="max-width: 400px;"
                class="text-truncate push-left-md">
                Selecione o arquivo...
            </label>


            <label *ngIf="grupoProduto?.nomeArquivo" style="max-width: 400px;" class="text-truncate push-left-md">
                {{grupoProduto?.nomeArquivo}}
            </label>

            <div class="push-right-sm">
                <button (click)="fotoInput.click()" *ngIf="!fotoImage && !grupoProduto?.anexoUuid" mat-icon-button
                    matTooltip="Adicionar anexo">
                    <mat-icon>attach_file</mat-icon>
                </button>

                <button *ngIf="fotoImage || grupoProduto?.anexoUuid" (click)="removeAnexo()" matTooltip="Remover anexo"
                    mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>

                <button *ngIf="grupoProduto.anexoUuid" matTooltip="Download anexo" (click)="downloadFile()"
                    mat-icon-button>
                    <mat-icon>file_download</mat-icon>
                </button>

            </div>

            <input hidden type="file" #fotoInput (change)="setGrupoProdutoAnexo($event)">
        </div>

    </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
    <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
        color="primary">
        SALVAR
    </button>
    <button mat-dialog-close mat-raised-button class="white-btn
    push-left-md bgc-grey-800">
        CANCELAR
    </button>
</mat-dialog-actions>