<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content>
  <form #qualificadorForm="ngForm" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input uppercase matInput [(ngModel)]="franquia.codigo" [disabled]="true" name="codigo">
      </mat-form-field>


      <mat-form-field fxFlex appearance="outline">
        <mat-label>Telefone</mat-label>
        <input uppercase  maxlength="50" [textMask]="{mask: maskTelefone, guide:false}" matInput name="telefone"
          [(ngModel)]="franquia.telefone" placeholder="Digite o telefone">
      </mat-form-field>



    </div>

    <div fxLayout="row" fxLayoutGap="30px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Franquia</mat-label>
        <input uppercase required [(ngModel)]="franquia.franquia" name="franquia" matInput maxlength="144"
          placeholder="Digite o nome da franquia">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input uppercase required [textMask]="{mask: maskCnpj, guide: false}" [(ngModel)]="franquia.cnpj" name="cnpj"
            matInput maxlength="144" placeholder="Digite seu cnpj">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Endereço</mat-label>
        <input uppercase required maxlength="144" matInput name="endereco" [(ngModel)]="franquia.endereco"
          placeholder="Digite seu endereco">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Número</mat-label>
        <input uppercase  [textMask]="{mask: masks.getNumbersOnlyMask(5), guide: false}" matInput name="numero" [(ngModel)]="franquia.numero"
          placeholder="Digite o número">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Complemento</mat-label>
        <input uppercase  maxlength="144" matInput name="complemento" [(ngModel)]="franquia.complemento"
          placeholder="Digite o complemento">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Bairro</mat-label>
        <input uppercase  maxlength="144" matInput name="bairro" [(ngModel)]="franquia.bairro"
          placeholder="Digite o bairro">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>CEP</mat-label>
        <input uppercase  [textMask]="{mask: masks.cep, guide: false}" matInput name="cep" [(ngModel)]="franquia.cep"
          placeholder="Digite o cep">
      </mat-form-field>

    </div>

    <div>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Cidade</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoCidade" #inputFilterCidade [(ngModel)]="franquia.cidade"
          name="cidade" (ngModelChange)="onListFranquias(inputFilterCidade.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnCidade" #autoCidade="matAutocomplete"
        (optionSelected)="franquia.cidade = $event.option.value; onListCidades();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let cidade of cidades" [value]="cidade">{{cidade?.cidade}}</mat-option>
      </mat-autocomplete>



      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>Estado</mat-label>
        <input required uppercase type="text" matInput [matAutocomplete]="autoEstado" #inputFilterEstado [(ngModel)]="franquia.estado"
          name="estado" (ngModelChange)="onListEstados(inputFilterEstado.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnEstado" #autoEstado="matAutocomplete"
        (optionSelected)="franquia.estado = $event.option.value; onListEstados();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let estado of estados" [value]="estado">{{estado?.estado}}</mat-option>
      </mat-autocomplete>



      <mat-form-field fxFlex appearance="outline" class="push-left-md">
        <mat-label>País</mat-label>
        <input required type="text" matInput [matAutocomplete]="autoPais" #inputFilter [(ngModel)]="franquia.pais"
          name="pais" (ngModelChange)="onListPaises(inputFilter.value);">
      </mat-form-field>

      <mat-autocomplete [displayWith]="displayFnPais" #autoPais="matAutocomplete"
        (optionSelected)="franquia.pais = $event.option.value; onListPaises();">
        <mat-option [value]="null">Nenhum</mat-option>
        <mat-option *ngFor="let pais of paises" [value]="pais">{{pais?.pais}}</mat-option>
      </mat-autocomplete>
    </div>

    <div>



      <div fxFlex style="background-color: #b71c1c; color: white; font-weight: bold;border-radius: 30px;"
        fxLayoutAlign="space-between center">
        <label *ngIf="!fotoImage && !franquia.anexoUuid" style="max-width: 400px;" class="text-truncate push-left-md">
          Selecione o arquivo...
        </label>


        <label *ngIf="franquia?.nomeArquivo" style="max-width: 400px;" class="text-truncate push-left-md">
          {{franquia?.nomeArquivo}}
        </label>

        <div class="push-right-sm">
          <button (click)="fotoInput.click()" *ngIf="!fotoImage && !franquia?.anexoUuid" mat-icon-button
            matTooltip="Adicionar anexo">
            <mat-icon>attach_file</mat-icon>
          </button>

          <button *ngIf="fotoImage || franquia?.anexoUuid" (click)="removeAnexo()" matTooltip="Remover anexo"
            mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>

          <button *ngIf="franquia.anexoUuid" matTooltip="Download anexo" (click)="downloadFile()" mat-icon-button>
            <mat-icon>file_download</mat-icon>
          </button>

        </div>

        <input uppercase hidden type="file" #fotoInput (change)="setFranquiaAnexo($event)">
      </div>
      <!-- <div fxLayout="column" class="push-left">
          <span class="tc-grey-500 mat-caption" *ngIf="!fotoImage">ADICIONAR ANEXO</span>

          <span class="tc-grey-500 mat-caption" *ngIf="franquia?.nomeArquivo">{{franquia?.nomeArquivo}}</span>



          <button type="button" (click)="fotoInput.click()" style="color: whitesmoke; background: #001f3f" mat-button
            class="push-bottom">
            <span matTooltip="Selecionar Anexo" *ngIf="!fotoImage">SELECIONAR ANEXO</span>
            <span matTooltip="Alterar abexi" *ngIf="fotoImage">ALTERAR ANEXO</span>
          </button>
          <input uppercase hidden type="file" #fotoInput (change)="setFranquiaAnexo($event)">


          <button type="button" matTooltip="Remover anexo" *ngIf="fotoImage || franquia?.anexoUuid"
            (click)="removeAnexo()" mat-button style="color: whitesmoke; background: #FF4136" class="push-bottom  ">
            REMOVER
          </button>
          
          <button mat-button (click)="downloadFile()" *ngIf="franquia.anexoUuid"
            style="color: whitesmoke; background: #3D9970" class="push-bottom  ">DOWNLOAD</button>

      </div> -->
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
    color="primary">
    SALVAR
  </button>
  <button mat-dialog-close mat-raised-button class="white-btn
    push-left-md bgc-grey-800">
    CANCELAR
  </button>
</mat-dialog-actions>