<mat-dialog-content>
  <h2 mat-dialog-title>{{title}}</h2>


  <form #qualificadorForm="ngForm" fxLayout="column">


    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Código</mat-label>
        <input required uppercase matInput [(ngModel)]="cidade.idCidade" name="idCidade" [disabled]="true">
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>DDD</mat-label>
        <input [(ngModel)]="cidade.ddd" [textMask]="{mask: textMasks.getNumbersOnlyMask(4), guide: false}" maxlength="4" name="ddd" matInput maxlength="50">
      </mat-form-field>



    </div>

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Cidade</mat-label>
        <input required uppercase [(ngModel)]="cidade.cidade" name="cidade" matInput maxlength="144">
      </mat-form-field>


    </div>


    <div>

      <!-- SELECT-->

    </div>





  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button [disabled]="qualificadorForm.invalid" (click)="onSubmit()" mat-raised-button class="white-btn"
    color="primary">
    SALVAR
  </button>
  <button mat-dialog-close mat-raised-button class="white-btn
  push-left-md bgc-grey-800">
    CANCELAR
  </button>
</mat-dialog-actions>