<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content>
  <form #qualificadorForm="ngForm" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="30px">

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Número da mesa</mat-label>
        <input matInput [disabled]="true" [(ngModel)]="mesa.numeroMesa" name="numeroMesa">
      </mat-form-field>


      <mat-form-field fxFlex appearance="outline">
        <mat-label>Quantidade de lugares na mesa</mat-label>
        <input required [(ngModel)]="mesa.quantidadeLugares" name="quantidadeLugares" matInput
          [textMask]="{mask: textMasks.getNumbersOnlyMask(3), guide: false}"
          placeholder="Digite a quantidade de lugares">
      </mat-form-field>

    </div>

    <div fxLayout="row">


      <auto-complete-with-redirect fxFlex title="Ambiente" link="ambiente" key="codigo" displayKey="ambiente"
        [displayId]="true" [list]="{values: ambientes}" [itemSelected]="{selected: mesa.ambiente}"
        (onFilterChange)="onListAmbientes($event)" (onSelect)="mesa.ambiente = $event"
        [classes]="'required-class-mesa'"
        (onDelete)="mesa.ambiente = null">
      </auto-complete-with-redirect>

      <mat-form-field *ngIf="mesa.ambiente" fxFlex appearance="outline" style="margin-left: 30px">
        <mat-label>Franquia</mat-label>
        <input type="text" [disabled]="true" matInput [ngModel]="mesa?.ambiente?.franquia?.franquia" name="franquia">
      </mat-form-field>

    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between end">

  <div fxLayout="column">
    <label> <label style="font-weight: bold">Data de criação:</label>
      {{ mesa.created ? (mesa.created | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
    <label class="push-top-sm "><label style="font-weight: bold">Data de atualização :</label>
      {{ mesa.updated ? (mesa.updated | date:'dd/MM/yyyy hh:mm:ss') : '-'}} </label>
  </div>

  <div>
    <button  (click)="onSubmit(qualificadorForm)" mat-raised-button class="white-btn"
      color="primary">
      SALVAR
    </button>
    <button mat-dialog-close mat-raised-button class="white-btn
    push-left-md bgc-grey-800">
      CANCELAR
    </button>
  </div>
</mat-dialog-actions>
